
footer li{
    list-style: none;
}
footer li a{
    text-decoration: none;
    color: white;
}
footer li a:hover{
    color: grey;
}
.cabimg{
    position: absolute;
    z-index: 1;
    opacity: 0.3;

}
#cablogin{
    margin-top:130px ;
    z-index: 4;
    background-color: white;
}
body{
    overflow-x: hidden;
}
footer{
    position: relative;
    margin-top: 76px;
    z-index: 4;
}
.hide
{
    display: none;  
}